/* reset CSS*/
/* selector universal*/
* {
    /*todos los elementos no tendran
    ni padding ni margin y se acomodaran
    a los tamaños que indiquemos directamente*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    border: 2px solid red;
    /* ancho */
    width: 300px;
    /* altura */
    height: 150px;
    padding: 10px;
    /*la forma que se construye las cajas*/
    /*box-sizing : content-box*/
    /*contruye la caja pero para las medidas incluye todo desde el borde*/
    box-sizing: border-box;
}

h2{
    border: 2px solid blue;
    padding: 5px;
    width: 100px;
    height: 100px;
}

h3{
    border: 2px solid green;
    margin: 10px;
}

p{
    border: 3px solid orange;
    /*cuando son 4 valores, arriba,derecha,abajo,izquierda,⌚*/
    padding: 10px 20px 30px 40px;
    /*cuando son 2 valores,
    arribaabajo ycostados*/
    margin:20px 40px;
}